<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../vue.js"></script>
</head>

<body>
    <div id="intro">
        <h2>{{schools.length}} Escolas do IPP</h2>

        <ul>
            {{schools.length == 0 ? 'Não há escolas' : ''}}
            <li v-for='school in schools' v-if='school[0] == "E"'>
                {{school}}
            </li>
        </ul>
    </div>

    <script src="index.js"></script>
</body>

</html>